@import '../../../theme.scss';

.container{
    
}

.init-btn-container{
    width: 100%;
    .btn{
        width: 100%;
        background: transparent;
        .btn-wrap{
            background: $primary;
            border-radius: 25px;
            padding: 0.5em 0 0.5em 0;
            span{
                font-size: x-large;
            }
        }
    }

}